<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Chatterbox</h1>
    <p class="lead">Connect with like-minded people and share your thoughts.</p>
  </div>
</div>
